.main-section {
    padding: 2rem 0;
    background-color: #0080ff;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
}


.footer {
    background-color: #000000 !important;
}

.info-text {
    max-width: 300px !important; 
    margin-left: auto !important; 
    margin-right: auto !important; 
}

