<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Visualization</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/sensor_graph.js') }}"></script>
    <style>
        body {
            padding: 5rem;
        }
    </style>
    <script>
        function autoRefresh() {
            window.location = window.location.href;
        }
        setInterval('autoRefresh()', 10000);
    </script>
</head>
<body>
    <div id="graph-div"></div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const location = "{{ location }}";
            addSensorCharts(location);
        });
    </script>
</body>
</html>
